#Node_Modules
node_modules/

#Coverage
coverage/
*/coverage/

#TypeScript
dist/

#Local
package-lock.json
logs/*.log
.env
.v1.0/
src/assets/*.webp
utsukushi.config.json

#IDE
.vscode/
.idea/

#Logs
logs/
